body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: auto;
  padding:0 ;
  
}
h1 {
  color: #333;
  text-align: center;
}

p {
  font-size: 18px;
  color: #555;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #00b8d9;
  color: #fff;
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ee819c;
}

#hasil {
  font-size: 24px;
  color: #0033d9;
  text-align: center;
  margin-top: 20px;
}
